
# Permettre l'indexation des routes SPA
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

# Pour les serveurs Apache qui ne supportent pas mod_rewrite
<IfModule !mod_rewrite.c>
  ErrorDocument 404 /index.html
</IfModule>
